<?xml version="1.0"?>
<launch>
  <!-- this launch file corresponds to robot model in ros-pkg/robot_descriptions/pr2/erratic_defs/robots for full erratic -->

  <arg name="paused" default="true"/>

  <arg name="use_sim_time" default="false"/>

  <arg name="gui" default="true"/>

  <arg name="headless" default="false"/>

  <arg name="debug" default="false"/>

  <!-- start up wg world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    	<arg name="debug" value="$(arg debug)" />
    	<arg name="gui" value="$(arg gui)" />
    	<arg name="paused" value="$(arg paused)"/>
    	<arg name="use_sim_time" value="$(arg use_sim_time)"/>
    	<arg name="headless" value="$(arg headless)"/>
  </include>

  <arg name="model" />
  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
  <!-- start robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
    <param name="publish_frequency" type="double" value="50.0" />
  </node>

  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -z 0.1 -model robot_model" respawn="false" output="screen" />

  <node name="map_server" pkg="map_server" type="map_server" args=" $(find chapter8_tutorials)/maps/map.yaml" />
  <node name="rviz" pkg="rviz" type="rviz" />

</launch>

