<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <!-- Camera params (config) -->
  <arg name="params" default="$(find chapter5_tutorials)/config/gscam/logitech.yaml"/>

  <!-- Camera driver -->
  <node pkg="gscam" type="gscam" name="camera">
    <rosparam file="$(arg params)" command="load"/>
    <param name="camera_parameters_file" value="$(find chapter5_tutorials)/config/gscam/calibration_gscam.yaml"/>
  </node>

  <!-- Camera image processing (color) -->
  <node ns="gscam" pkg="image_proc" type="image_proc" name="image_proc" />

  <!-- Calibration tool, for a calibration pattern of 8x6 inner squares of 3cm
 -->
  <node pkg="camera_calibration" type="cameracalibrator.py"
        name="cameracalibrator" args="--size 8x6 --square 0.030"
        output="screen">
    <remap from="image" to="gscam/image_color" />
    <remap from="camera" to="gscam" />
  </node>
</launch>

