<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find rosbook_arm_description)/urdf/inertia.xacro"/>
  <xacro:include filename="$(find rosbook_arm_description)/urdf/base/base.gazebo.xacro"/>

  <xacro:macro name="base" params="name">
    <link name="${name}_link">
      <visual>
        <geometry>
          <cylinder length="0.01" radius="0.5"/>
        </geometry>
        <origin xyz="0.0 0.0 0.0"/>
        <material name="white"/>
      </visual>

      <collision>
        <geometry>
          <cylinder length="0.01" radius="0.5"/>
        </geometry>
        <origin xyz="0.0 0.0 0.0"/>
      </collision>

      <inertial>
        <origin xyz="0.0 0.0 0.0"/>
        <mass value="1"/>
        <cylinder_inertia mass="1" radius="0.5" length="0.01"/>
      </inertial>
    </link>

    <!-- Simulation (gazebo) -->
    <base_gazebo/>
  </xacro:macro>

</robot>
