<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Moment of inertia tensor for a solid cuboid of x, y and z dimensions
       (width, depth and height).
       See http://en.wikipedia.org/wiki/List_of_moments_of_inertia -->
  <macro name="cuboid_inertia" params="mass x y z">
    <inertia ixx="${1/12 * mass * (y * y + z * z)}" ixy="0.0" ixz="0.0"
             iyy="${1/12 * mass * (x * x + z * z)}" iyz="0.0"
             izz="${1/12 * mass * (x * x + y * y)}"/>
  </macro>

  <!-- Moment of inertia tensor for a solid cylinder of given mass, radius and
       length.
       See http://en.wikipedia.org/wiki/List_of_moments_of_inertia -->
  <macro name="cylinder_inertia" params="mass radius length">
    <inertia ixx="${1/12 * mass * (3 * radius * radius + length * length)}" ixy="0.0" ixz="0.0"
             iyy="${1/12 * mass * (3 * radius * radius + length * length)}" iyz="0.0"
             izz="${1/2  * mass * radius * radius}"/>
  </macro>

</robot>
