<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <!-- Usage:
  roslaunch chapter5_tutorials viso2_stereo_odometer.launch -->

  <!-- Logger config -->
  <env name="ROSCONSOLE_CONFIG_FILE"
       value="$(find chapter5_tutorials)/config/chapter5_tutorials.config"/>

  <!-- Run stereo odometer. -->
  <node name="stereo_odometer" pkg="viso2_ros" type="stereo_odometer" output="screen">
    <remap from="stereo" to="stereo"/>
    <remap from="image" to="image_rect"/>
  </node>
</launch>

